.div-verger {
  margin: auto;
  width: 30%;
  height: 100%;
}

.verger-grid {
  margin-top: 100%;
  --ion-grid-padding: 0;
}

.cellule-content {
  aspect-ratio: 1 / 1;
  width: 100%;

  /* centrage du texte */
  display: flex;
  align-items: center;
  justify-content: center;

  /* styles visuels */
  border: 1px solid #ccc;
  box-sizing: border-box;
  background: #fafafa;
}

.vert{
  background: #d4edda;
}
.jaune{
  background: #fff3cd;
}
.rouge{
  background: #f8d7da;
}
.gris{
  background: #e2e3e5;
}
.orange{
  background: #ffeeba;
}

.modal-ajout-arbre {
  width: 20%;
  height: 750px;
  margin: auto;
}